<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @launchsubscriber.email %>
</p>


<%= link_to 'Edit', edit_launchsubscriber_path(@launchsubscriber) %> |
<%= link_to 'Back', launchsubscribers_path %>
